@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');

body{
    background: black;
}

nav#menu{
    background: linear-gradient(55deg, black, rgba(0, 0, 0, 0.616));
  }

div#logotop{
    font-family: 'Goldman', cursive;
}

h1#produtoshome{
    font-family: 'Goldman', cursive;
    color: white
}
